{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        {% block script %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="main">
            <div class="header">
                {% block header %}
                    {% if user.is_authenticated %}
                        {% include "nav.html" %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>