{% extends "base.html" %}
{% load i18n %}
{% block title %}
   {% translate "Main" %}
{% endblock %}
{% block main %}
    {% if not user.is_authenticated %}
        <div class="main__item">
            <a class="link" href="{% url 'account:signup' %}">{% translate "Sign Up" %}</a>
            <p>{% translate "or" %}</p>
            <a class="link" href="{% url 'account:signin' %}">{% translate "Sign In" %}</a>
        </div>
    {% else %}
        <h4 class="heading">{% translate "Hello" %}!</h4>
    {% endif %}
{% endblock %}