{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form__field">
                <label class="form__label">{{ form.username.label }}</label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form__field">
                <label class="form__label" for={{ form.password.auto_id }}>{{ form.password.label }}</label>
                {{ form.password.errors }}
                {{ form.password.help_text }}
                {{ form.password }}
            </div>
            <div class="form__field">
                <label class="form__label" for={{ form.first_name.auto_id }}>{{ form.first_name.label }}</label>
                {{ form.first_name.errors }}
                {{ form.first_name|addClass:"form__input" }}
            </div>
            <div class="form__field">
                <label class="form__label" for={{ form.last_name.auto_id }}>{{ form.last_name.label }}</label>
                {{ form.last_name.errors }}
                {{ form.last_name|addClass:"form__input" }}
            </div>
            <div class="form__field">
                <label class="form__label" for={{ form.email.auto_id }}>{{ form.email.label }}</label>
                {{ form.email.errors }}
                {{ form.email|addClass:"form__input" }}
            </div>
            <div class="form__field">
                <label class="form__label">{{ form.groups.label }}</label>
                {{ form.groups.errors }}
                {{ form.groups.help_text }}
                <ul class="form__ul">
                    {% for group in form.groups %}
                        <li>
                            {{ group }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form__field">
                <label class="form__label">{{ form.user_permissions.label }}</label>
                {{ form.user_permissions.errors }}
                {{ form.user_permissions.help_text }}
                <ul class="form__ul">
                    {% for user_permission in form.user_permissions %}
                        <li>
                            {{ user_permission }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <p></p>
            <button class="form__button" type="submit">Change</button>
        </form>
        <p>
            <form action="{% url 'account:signout' %}" method="post">
                {% csrf_token %}
                <button class="link" type="submit">Sign Out</button>
            </form>
        </p>
    {% endif %}
{% endblock %}