{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}

{% block script %}
    <link href="{% static 'account/css/styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    {% translate "Sign In" %}
{% endblock %}

{% block main %}
    <h2 class="heading">{% translate "Sign In" %}</h2>
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form__field form__field_center">
            {{ form.username.errors }}
            {{ form.username|addClass:'form__input' }}
        </div>
        <div class="form__field form__field_center">
            {{ form.password.errors }}
            {{ form.password|addClass:'form__input' }}
        </div>
        <p></p>
        <button class="form__button" type="submit">{% translate "Enter" %}</button>
    </form>
{% endblock %}