{% load tags %}
{% load static %}
<div class="blog-form">
    {% if user == article.author or user.is_superuser %}
        <div class="blog-form__field blog-form__field_right">
            <a class="blog-form__link" href="{% url "blog:delete" article.pk %}">
                <img class="blog-form__img" src="{% static 'blog/images/delete.png' %}">
            </a>
        </div>
    {% endif %}
    <div class="blog-form__field blog-form__title">
        {{ article.title }}
    </div>
    <div class="blog-form__field blog-form__message">
        <p>{{ article.message }}</p>
    </div>
    <div class="blog-form__field blog-form__button">
        <strong>show full</strong>
    </div>
    <div class="blog-form__field blog-form__author">
        was written by <strong>{{ article.author }}</strong>
    </div>
    {% for comment in article.comment_set.all %}
        {% if not comment.parent %}
            {% include "blog/comment_form.html" %}
        {% endif %}
    {% endfor %}
</div>
<p></p>