{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block script %}
    {% if user.is_authenticated %}
        <link href="{% static 'blog/css/pagination.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'blog/js/jquery-3.7.1.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            // Pagination variables
            const searchWord = '{{ search }}';
            const currentPageNumber = parseInt('{{ page_obj.number }}');
            const totalPages = parseInt('{{ page_obj.paginator.num_pages }}');
        </script>
        <script src="{% static 'blog/js/main.js' %}" type="text/javascript"></script>
    {% endif %}
{% endblock %}

{% block title %}
    Main
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% include "nav.html" %}
        {% include "blog/search.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="content__item">
            <a class="link" href="{% url 'account:signup' %}">Sign Up</a>
            <p>or</p>
            <a class="link" href="{% url 'account:signin' %}">Sign In</a>
        </div>
    {% else %}
        <p></p>
        {% for article in page_obj %}
            {% include "blog/blog_form.html" %}
        {% endfor %}
    {% endif %}
    <div class="pagination">
    </div>
{% endblock %}