{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %}
    Update article
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h4 class="heading">Update article #{{ object.pk }}</h4>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form__field">
                {{ form.author.as_hidden }}
            </div>
            <div class="form__field">
                <label class="form__label" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                {{ form.title.errors }}
                {{ form.title|addClass:'form__input' }}
            </div>
            <div class="form__field">
                <label class="form__label" for="{{ form.message.auto_id }}">{{ form.message.label }}</label>
                {{ form.message.errors }}
                {{ form.message|addClass:'form__textarea' }}
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if forloop.last %}
                        <p class="form__result">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p></p>
            <button class="form__button" type="submit">Confirm</button>
        </form>
    {% endif %}
{% endblock %}